{% extends 'requestoid/base.html' %}
{% block content %}
<h1>{{ pagetitle }}</h1>
<form action="/requests/{{ language }}/add" method="post">
{% csrf_token %}
<input type="hidden" name="pagetitle" value="{{ pagetitle }}" />
<input type="hidden" name="pageid" value="{{ pageid }}" />
<input type="hidden" name="request_language" value="{{ request_language }}" />
<div class="ui form">
  <div class="ui field">
    <label>{{ content.summary_label }}</label>
    <input type="text" name="summary" value="{{ content.summary_inputbox }}"></input>
    <p>{{ content.summary_explanation }}</p>
  </div>
  <div style="clear: both;"></div>
  <div class="ui {% if pageid > 0 %}disabled {% endif %}field">
    <label>{{ content.category_label }}</label>
    <textarea name="categories">{{ content.category_textarea }}</textarea>
    <p>{{ content.category_explanation }}</p>
  </div>
  <div style="clear: both;"></div>
  <div class="ui field">
    <label>{{ content.wikiprojects_label }}</label>
    <textarea name="wikiprojects">{{ content.wikiprojects_textarea }}</textarea>
    <p>{{ content.wikiprojects_explanation }}</p>
  </div>
  <div style="clear: both;"></div>
  <div class="ui field">
    <label>{{ content.note_label }}</label>
    <textarea name="note"></textarea>
    <p>{{ content.note_explanation }}</p>
  </div>
  <div style="clear: both;"></div>
  <button class="ui green button">{{ content.submit_button }}</button>
</div>
</form>
{% endblock %}