{% extends 'requestoid/base.html' %}
{% block content %}
<h1>{{ content.headline }}</h1>
<p>{{ content.explanation }}</p>
<form action="/requests/{{ language }}/add" method="get">
<div class="ui action big fluid input">
  <input type="text" name="pagetitle" placeholder="{{ content.inputlabel}}">
  <button class="ui blue button">{{ content.button }}</button>
</div>
<div style="clear:both; margin-top:-1px;"></div>
<div class="ui right mini labeled input">
  <input type="text" name="language" style="width:75px;" value="{{ content.wiki_language }}">
  <div class="ui basic label">
    .wikipedia.org
  </div>
</div>
</form>
{% endblock %}