<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
<link rel="stylesheet" href="https://wpx.wmflabs.org/static/shared.css" />
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<title>{{ interface.brand }}</title>
</head>
<body>
<div class="ui secondary menu" style="font-size:12pt; background:#008cba">
    <a class="brand item" href="/requests/{{ language }}" style="color:#fff; font-size:14pt;">{{ interface.brand }}</a>
    <a class="item" href="/requests/{{ language }}/search" style="color:#fff;">{{ interface.search }}</a>
    <a class="item" href="/requests/{{ language }}/add" style="color:#fff;">{{ interface.add }}</a>
    <a class="item" href="/requests/{{ language }}/help" style="color:#fff;">{{ interface.help }}</a>
    <a class="item" href="/requests/{{ language }}/about" style="color:#fff;">{{ interface.about }}</a>
    {% if interface.username %}
    <a class="right floated item" href="https://meta.wikimedia.org/wiki/Special:CentralAuth/{{ interface.username }}" style="color:#fff;">{{ interface.username }}</a>
	{% else %}
	<a class="right floated item" href="/requests/auth" style="color:#fff;">{{ interface.login_via_wikipedia }}</a>
	{% endif %}
	</a>
</div>

<div class="ui main text container" style="padding-top:1em;">
{% block content %}
{% endblock %}
<div class="ui footer" style="padding-top:3em; font-size:80%;">
<hr />
{{ interface.footer|safe }}
</div>
</div>
</body>
</html>