<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
</head>
<body>
<div class="ui borderless main menu" style="font-size:12pt;">
    <a class="brand item" href="/requests/{{ language }}" style="color:#fff; background:#3C6AFF">{{ interface.brand }}</a>
    <a class="item" href="/requests/{{ language }}/list">{{ interface.search }}</a>
    <a class="item" href="/requests/{{ language }}/add">{{ interface.add }}</a>
    <a class="item" href="/requests/{{ language }}/help">{{ interface.help }}</a>
    <a class="item" href="/requests/{{ language }}/about">{{ interface.about }}</a>
    <a class="right floated item" href="/requests/{{ language }}/auth">{{ interface.login_via_wikipedia }}</a>
</div>

<div class="ui main text container" style="padding-top:1em;">
{% block content %}
{% endblock %}
</div>
</body>
</html>