{% extends 'requestoid/base.html' %}
{% block content %}
<h1>{{ content.headline }}</h1>
<form action="/requests/{{ language }}/bulk" method="post">
{% csrf_token %}
<div class="ui form">
<div class="field">
<label>{{ content.categories_label }}</label>
<textarea name="categories" placeholder="{{ content.categories_placeholder }}"></textarea>
</div>
<div class="field">
<label>{{ content.wikiprojects_label }}</label>
<textarea name="categories"></textarea>
</div>
<hr />
<div id="titlesandnotes" class="titlesandnotes">
<div id="titleandnote0" class="titleandnote field">
    <div class="field">
        <label for="pagetitle" class="">{{ content.page_title_label }}</label>
        <input type="text" name="pagetitle0" id="pagetitle0"></input>
    </div>
    <div class="field">
        <label for="summary" class="">{{ content.summary_label }}</label>
        <input type="text" name="summary0" id="summary0"></input>
    </div>
    <div class="field">
        <label for="note" class="">{{ content.add_a_note }}</label>
        <textarea name="note0" id="note0"></textarea>
    </div>
    <div class="field ui mini basic blue buttons">
        <button type="button" class="add ui button">{{ content.add_button }}</button> 
        <button type="button" class="remove ui button">{{ content.remove_button }}</button>
    </div>
</div>
</div>
<div class="field"></div>
<button class="ui green button">{{ content.submit_button }}</button>
</div>
</form>
<script language='javascript'>
var regex = /^(.+?)(\d+)$/i;
var cloneIndex = $(".titleandnote").length;

function clone(){
    $(this).parents(".titleandnote").clone()
        .appendTo("div.titlesandnotes")
        .attr("id", "titleandnote" +  cloneIndex)
        .find("*")
        .each(function() {
            var id = this.id || "";
            var match = id.match(regex) || [];
            if (match.length == 3) {
                this.id = match[1] + (cloneIndex);
                this.name = match[1] + (cloneIndex);
            }
        })
        .on('click', 'button.add', clone)
        .on('click', 'button.remove', remove);
    cloneIndex++;
}
function remove(){
    $(this).parents(".titleandnote").remove();
}
$("button.add").on("click", clone);

$("button.remove").on("click", remove);
</script>
{% endblock %}