{% extends 'requestoid/base.html' %}
{% block content %}
<h1>{{ content.headline }}</h1>
<form action="/requests/{{ language }}/search" method="get">
<div class="ui form">
<div class="field">
<div class="ui fluid input">
<select name="searchtype" class="ui compact selection dropdown" style="width:25%;">
<option selected="" value="article">{{ content.article_label }}</option>
<option value="category">{{ content.category_label }}</option>
<option value="wikiproject">{{ content.wikiproject_label }}</option>
</select>
<input name="searchterm" type="text" placeholder="Search..." style="width:75%;"/>
</div>
</div>
<div class="ui right action right labeled input">
<input type="text" name="language" value="{{ language }}" style="width:80px;" />
<div class="ui basic label">.wikipedia.org</div>
<button class="ui blue button">{{ content.go_label }}</button>
</div>
</div>
</form>
{% endblock %}