{% extends 'requestoid/base.html' %}
{% load wikipedia_link %}
{% block content %}
<h1>{{ content.requestdata.page_title|wikipedia_link:language }}: {{ content.requestdata.summary }}</h1>
<div class="ui comments">
{% for note in notes %}
<div class="comment">
<div class="content">
<a class="author">{{ note.username }}</a>
<div class="metadata">
<span class="date">{{ note.timestamp }}</span>
</div>
<div class="text">
{{ note.comment }}
</div>
{% endfor %}
</div>
<div class="ui styled accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
  {{ content.categories_and_wikiprojects_label }}
  </div>
  <div class="active content">
  <label>{{ content.categories_label }}</label>
  <ul>
  {% for category in content.requestdata.categories %}
  <li>{{ category }}</li>
  {% endfor %}
  </ul>
  <label>{{ content.wikiprojects_label }}</label>
  <ul>
  {% for wikiproject in content.requestdata.wikiprojects %}
  <li>{{ wikiproject }}</li>
  {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}