{% extends 'requestoid/base.html' %}
{% load wikipedia_link %}
{% block content %}
<h1>{{ content.requestdata.page_title|wikipedia_link:language }}: {{ content.requestdata.summary }}</h1>
<form action="/requests/{{ language }}/request/{{ content.requestdata.id }}" method="post">
{% csrf_token %}
<div class="ui small left labeled buttons">
<div class="ui large {% if interface.username != None %}right pointing {% endif %}label">
Status
<div class="detail">{{ content.requestdata.status_verbose }}</div>
</div>
{% if interface.username != None %}
{% if content.requestdata.status == 0 %}
<button type="submit" name="changestatus" value="complete" class="positive ui button">{{ content.mark_as_complete_label }}</button>
<button type="submit" name="changestatus" value="declined" class="negative ui button">{{ content.mark_as_declined_label }}</button>
{% else %}
<button type="submit" name="changestatus" value="open" class="ui blue button">{{ content.mark_as_open_label }}</button>
{% endif %}
{% endif %}
</div>
</form>
<div class="ui comments" style="padding-top:1em;">
{% for note in content.requestdata.notes %}
<div class="comment">
<div class="content">
<a class="author">{{ note.username }}</a>
<div class="metadata">
<span class="date">{{ note.timestamp }}</span>
</div>
<div class="text">
{{ note.comment|safe }}
</div>
{% endfor %}
</div>
</div>
</div>
{% if interface.username != None %}
<form action="/requests/{{ language }}/request/{{ content.requestdata.id }}" method="post">
{% csrf_token %}
<div class="ui form">
<div class="field">
<label>{{ content.add_a_note_label }}</label>
<textarea name="newnote" placeholder="{{ content.add_a_note_explanation }}"></textarea>
</div>
<button type="submit" class="ui blue button">{{ interface.Add }}</button>
</div>
</form>
{% endif %}
{% if interface.username != None %}
<form action="/requests/{{ language }}/request/{{ content.requestdata.id }}" method="post">
{% csrf_token %}
{% endif %}
<div class="ui styled fluid accordion" style="margin-top:2em;">
<div class="title">
<i class="dropdown icon"></i>
{{ content.categories_label }}
</div>
<div class="content">
{% if interface.username != None and content.requestdata.page_id == 0 %}<button type="submit" class="ui right floated blue button">{{ content.save_label }}</button>{% endif %}
<p>{% if content.requestdata.page_id != 0 %}{{ content.edit_categories_on_wikipedia_label }}{% else %}{{ content.list_edit_explanation }}{% endif %}</p>
<textarea name="categories" style="border: 0; margin: 0; width: 100%; height:400px; resize:vertical; margin-top:0.25em;" placeholder="{{ content.nothing_here_yet }}"{% if interface.username == None or content.requestdata.page_id != 0 %} disabled=disabled{% endif %}>{% for category in content.requestdata.categories %}{{ category }}
{% endfor %}</textarea>
</div>
<div class="title">
<i class="dropdown icon"></i>
{{ content.wikiprojects_label }}
</div>
<div class="content">
{% if interface.username != None %}<button type="submit" class="ui right floated blue button">{{ content.save_label }}</button>{% endif %}
<p>{{ content.list_edit_explanation }}</p>
<textarea name="wikiprojects" style="border: 0; margin: 0; width: 100%; height:400px; resize:vertical; margin-top:0.25em;" placeholder="{{ content.nothing_here_yet }}"{% if interface.username == None %} disabled=disabled{% endif %}>{% for wikiproject in content.requestdata.wikiprojects %}{{ wikiproject }}
{% endfor %}</textarea>
</div>
</div>
{% if interface.username != None %}</form>{% endif %}
<script language='javascript'>
             $(document).ready(function(){
                $('.ui.accordion').accordion();
             });
</script>
{% endblock %}